html,
body {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: #D3D3D3;
}

h1 {
    text-align: center;
}

div {
    width: 300px;
}

p {
    padding: 0px;
    margin: 0px;
}

.one {
    background-color: #DBC9A6;
    width: 90%;
    height: 40px;
    border: solid 2px #9F9279;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.two {
    background-color: #FFFFB4;
    height: 150px;
    border: solid 2px #bdbd85;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 10px;
    z-index: -1;

}

.three {
    background-color: #C6FFFF;
    height: 150px;
    border: solid 2px #9AC4C4;
    padding: 5px;
    float: right;
    position: relative;
    top: 10px;
    text-align: right;
}

.four {
    background-color: #FFE5FF;
    height: 150px;
    border: solid 2px #BAA7BA;
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 50px;
    z-index: -1;
}

.five {
    background-color: #FFB4B4;
    height: 150px;
    border: solid 2px #865F5F;
    padding: 5px;
    z-index: -1;
    position: relative;
    top: 50px;
    float: right;
    text-align: right;
}

.six {
    background-color: #91FF91;
    height: 150px;
    border: solid 2px #57A657;
    padding: 5px;
    display: inline;
    z-index: -1;
    position: absolute;
    top: 250px;
    left: 300px;
}