html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
}

#main {
    display: flex;
}

/* NAV */

nav {
    background-color: #FFFE01;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding-right: 15px;
}

/* ASIDE LEFT */

.left ul {
    background-color: #808080;
    display: flex;
    flex-direction: column;
}

.left ul li {
    list-style: none;
    align-content: center;
}